<!DOCTYPE html>
<html lang="en">

<head>
	<title>Forgot Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/image/smartcard.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
</head>

<body>
	<!-- toast -->
	<% if (messages!="") { %>
		<div class="messages-show">
			<div class="messages-show-header">
				<div>
					<img src="/image/smartcard.ico" class="rounded mr-2" alt="..."
						style="width:20px;height: 20px;margin-right: 5px;">
					<strong class="mr-auto" style="color: white;font-weight: 500;margin: 0;font-size: 18px;">SMARTCARD</strong>
				</div>
				<button type="button" class="btn-close ml-2 mb-1" data-bs-dismiss="toast" onclick="closepopup()"></button>
			</div>
			<div class="messages-show-body">
				<p lang="en"><%= messages[0] %></p>
				<p lang="vi"><%= messages[1] %></p>
			</div>
		</div>
	
		<% } else{ %> 	
		<div class="messages-hide"></div>
	<% } %>
	<script>
		function closepopup(){
			document.getElementsByClassName("messages-show")[0].classList.add('messages-hide');
		}
	</script>

	<!-- content -->
	<div class="content">
		<div class="left">
			<div class="left-container">
				<div class="logo">
					<img src="/image/index/logo.png" alt="" id="logo">
				</div>
				<div class="form">
					<form class="validate-form" action="/processForgotPassword" method="post">
			
						<!-- cardid -->
						<div class="validate-input" data-validate="Card ID is required" lang="en">
							<span lang="en">Card ID</span>
							<input class="inputcontent" type="text" name="cardid" placeholder="Type your card ID" lang="en">
							<span data-symbol="&#xf206;" lang="en"></span>
						</div>
						<div class="validate-input" data-validate="ID Thẻ bắt buộc điền"
							lang="vi">
							<span lang="vi">ID Thẻ</span>
							<input class="inputcontent" type="text" name="cardid" placeholder="Nhập ID thẻ" lang="vi">
							<span data-symbol="&#xf206;" lang="vi"></span>
						</div>
	
						<!-- email -->
						<div class="validate-input" data-validate="E-mail is required" lang="en">
							<div>
								<span lang="en">E-mail</span>
							</div>
							<input class="inputcontent" type="text" name="email" placeholder="Type your e-mail"
								lang="en">
							<span data-symbol="&#xf190;" lang="en"></span>
						</div>
						<div class="validate-input" data-validate="E-mail bắt buộc điền" lang="vi">
							<div>
								<span lang="vi">E-mail</span>
							</div>
							<input class="inputcontent" type="text" name="email" placeholder="Nhập e-mail"
								lang="vi">
							<span data-symbol="&#xf190;" lang="vi"></span>
						</div>
	
						<!-- submit -->
						<div>
							<button type="submit" lang="en">
								Get Reset Password
							</button>
							<button type="submit" lang="vi">
								Lấy mật khẩu mới
							</button>
						</div>
						
						<!-- sign in -->
						<div class="forgotpassword">
							<span lang="en">Already have account?</span>
							<span lang="vi">Đã có tài khoản?</span>
							<a href="/signin">
								<i lang="en">Sign in</i>
								<i lang="vi">Đăng nhập</i>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="up">
				<div class="img-wrap">
					<img src="/image/index/login-banner.png" alt="">
				</div>
				<div class="img-wrap">
					<img src="/image/profile_pic-1708605999456.jpg" alt="">
				</div>
				<div class="img-wrap">
					<img src="/image/profile_pic-1708605894687.jpg" alt="">
				</div>
			</div>
			<div class="down">
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="img-nav">
					<a href="javascript:currentSlide(0)" class="img-nav-button"></a>
					<a href="javascript:currentSlide(1)" class="img-nav-button"></a>
					<a href="javascript:currentSlide(2)" class="img-nav-button"></a>
				</div>
			</div>
			<script>
				let imgslide = document.getElementsByClassName("img-wrap");
				let textslide = document.getElementsByClassName("text-wrap");
				let imgnav = document.getElementsByClassName("img-nav-button");
				let index=1;
				for (let i=0;i<textslide.length;i++){
						textslide[i].style.display="none";
						imgslide[i].style.display="none";
					}
				imgslide[0].style.display="block";
				textslide[0].style.display="block";
				imgnav[0].style.width = "10px";
				imgnav[0].style.height = "10px";
			
				function slide(){
					for (let i=0;i<textslide.length;i++){
						imgslide[i].style.display="none";
						textslide[i].style.display="none";
						imgnav[i].style.width = "6px";
						imgnav[i].style.height = "6px";
					}
					imgslide[index].style.display="block";
					textslide[index].style.display="block";
					imgnav[index].style.width = "10px";
					imgnav[index].style.height = "10px";
				   
					if (index==textslide.length-1){
						index=0;
					}
					else index++;
				}
				function currentSlide(currentindex){
					for (let i=0;i<textslide.length;i++){
						imgslide[i].style.display="none";
						textslide[i].style.display="none";
						imgnav[i].style.width = "6px";
						imgnav[i].style.height = "6px";
					}
					index=currentindex;
					imgslide[index].style.display="block";
					textslide[index].style.display="block";
					imgnav[index].style.width = "10px";
					imgnav[index].style.height = "10px";
				   
				}
				setInterval(slide,5000); 
			</script>
		
		</div>
	</div>
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/signin.js"></script>
	<script src="/js/language.js"></script>
</body>

</html>