<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SMARTCARD</title>
	<link rel="icon" type="image/png" href="/image/smartcard.ico" />
	<link rel="stylesheet" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/language.js"></script>
	<link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>

	<!-- top -->
	<div class="top" id="top">
		<div class="left">
			<!-- <img src="assets/image/index/phone.svg" alt="">
			<p>(+84) 66 56 93 97</p> -->
			<img src="/image/index/email.svg" alt="">
			<p>contact@smartcardhub.com</p>
			<img src="/image/index/zalo-top.png" alt="">
			<p>(+84) 902 225 974</p>
		</div>
		<div class="right">
			<p >Follow us</p>
			<a href="https://www.facebook.com/hsiicvietnam"><img src="assets/image/index/facebook.svg" alt=""></a>
		</div>
	</div> 
	<nav class="container-fluid">
		<div class="row">
			<div class="left">
				<img src="/image/index/logo.png" alt="logo">
			</div>  
			<div class="center">
				<ul>
					<li>
						<a href="index.html" id="menu-home"><h6 >Home</h6></a>
					</li>
					<li>
						<a href="index.html#aboutus" id="menu-aboutus"><h6 >About us</h6></a>
					</li>
					<li>
						<a href="index.html#services" id="menu-service"><h6 >Services
						</h6></a>
					</li>
					<li>
						<a href="index.html#reviews" id="menu-gallery" ><h6>Reviews</h6></a>
					</li>
					<li>
						<a href="index.html#clients" id="menu-news"><h6 >Clients</h6></a>
					</li>
					<li>
						<a href="index.html#contact" id="menu-contact"><h6 >Contact</h6></a>
					</li>
				</ul>
			</div>
			<div class="col-4 menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions">
				<a class="bar"><img src="/image/index/bar.svg" alt=""></a>
			</div>
			<div class="offcanvas offcanvas-start offcanvas-change" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
				<div class="offcanvas-header">
					<img src="/image/index/logo.png" alt="">
					<div data-bs-dismiss="offcanvas"><img src="/image/index/cheveron-right.svg" alt=""></div>
				</div>
				<div class="offcanvas-header-bottom">
					<a href="index.html" id="menu-home"><h5 >Home</h5></a>
					<a href="index.html#aboutus" id="menu-aboutus"><h5 >About us</h5></a>
					<a href="index.html#services" id="menu-service"><h5 >Services</h5></a>
					<a href="index.html#reviews" id="menu-gallery"><h5 >Reviews</h5></a>
					<a href="index.html#clients" id="menu-news"><h5 >Clients</h5></a>
					<a href="index.html#contact" id="menu-contact"><h5 >Contact</h5></a>
				</div>
			</div>
		</div>
	</nav> 

	<!-- img -->
	<div class="img">
	<div class="img-nav">
		<a href="javascript:currentSlide(0)" class="img-nav-button"></a>
		<a href="javascript:currentSlide(1)" class="img-nav-button"></a>
		<a href="javascript:currentSlide(2)" class="img-nav-button"></a>
	</div>
	<div class="img-wrap">
		<img src="/image/index/banner1.jpg" alt="">
		<div class="img-text">
			<p>H.S International Investment and Consulting Company</p>
			<div class="img-text-h1">
				<h1>Company</h1><h1>registration</h1><h1>in Vietnam</h1>
			</div>
			<!-- <a href="">See more</a> -->
		</div>
		<div class="img-text-recotton">
			<!-- <p>H.S Company &nbsp;|</p><a href="">See more</a> -->
			<p>H.S &nbsp;| Welcome to us !</p>
		</div>
	</div>
	<div class="img-wrap">
		<img src="/image/index/banner2.jpg" alt="">
		<div class="img-text">
			<p>H.S International Investment and Consulting Company</p>
			<div class="img-text-h1">
				<h1>Long terms</h1><h1>visa service</h1><h1>for investors</h1>
			</div>
			<!-- <a href="">See more</a> -->
		</div>
		<div class="img-text-recotton">
			<!-- <p>H.S Company &nbsp;|</p><a href="">See more</a> -->
			<p>H.S &nbsp;| Welcome to us !</p>
		</div>
	</div>
	<div class="img-wrap">
		<img src="/image/index/signin2.png" alt="">
		<div class="img-text">
			<p>H.S International Investment and Consulting Company</p>
			<div class="img-text-h1">
				<h1>Tax and</h1><h1>Accounting</h1><h1>Service</h1>
			</div>
			<!-- <a href="">See more</a> -->
		</div>
		<div class="img-text-recotton">
			<!-- <p>H.S Company &nbsp;|</p><a href="">See more</a> -->
			<p>H.S &nbsp;| Welcome to us !</p>
		</div>
	</div>
	</div>
    <script>
        let imgslide = document.getElementsByClassName("img-wrap");
        let imgnav = document.getElementsByClassName("img-nav-button");
        let index=1;
        for (let i=0;i<imgslide.length;i++){
                imgslide[i].style.display="none";
            }
        imgslide[0].style.display="block";
        imgnav[0].style.backgroundColor  = "white";
        imgnav[0].style.border  = "1px solid black";

        function slide(){
            for (let i=0;i<imgslide.length;i++){
                imgslide[i].style.display="none";
                imgnav[i].style.backgroundColor  = "black";
            }
            imgslide[index].style.display="block";
            imgnav[index].style.backgroundColor="white";
            imgnav[index].style.border  = "1px solid black";
        
            if (index==imgslide.length-1){
                index=0;
            }
            else index++;
        }
        function currentSlide(currentindex){
            for (let i=0;i<imgslide.length;i++){
                imgslide[i].style.display="none";
                imgnav[i].style.backgroundColor  = "black";
            }
            index=currentindex;
            imgslide[index].style.display="block";
            imgnav[index].style.backgroundColor="white";
            imgnav[index].style.border  = "1px solid black";
        
        }
        setInterval(slide,5000); 
    </script>


	<!-- #scroll to top -->
	<script>
		$("#scrolltop").click(function name(params) {
			$("html").animate({ scrollTop: 0 });
		})
		window.onscroll = function () { scrolltop() };
		function scrolltop() {
			if ((document.body.scrollTop > 100) || (document.documentElement.scrollTop > 100)) {
				$("#scrolltop").addClass("scrolltop-show");

			}
			else {
				$("#scrolltop").removeClass("scrolltop-show");
		
			};
		}
	</script>

</body>

</html>