<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sign in</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/image/smartcard.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<!-- toast -->
	<% if (messages!="") { %>
		<div class="messages-show">
			<div class="messages-show-header">
				<div>
					<img src="/image/smartcard.ico"
						style="width:20px;height: 20px;margin-right: 5px;">
					<strong class="mr-auto" style="color: white;font-weight: 500;margin: 0;font-size: 18px;">SMARTCARD</strong>
				</div>
				<button type="button" class="btn-close ml-2 mb-1" data-bs-dismiss="toast" onclick="closepopup()"></button>
			</div>
			<div class="messages-show-body">
				<p lang="en"><%= messages[0] %></p>
				<p lang="vi"><%= messages[1] %></p>
			</div>
		</div>
	
		<% } else{ %> 	
		<div class="messages-hide"></div>
	<% } %>
	<script>
		function closepopup(){
			document.getElementsByClassName("messages-show")[0].classList.add('messages-hide');
		}
	</script>

	<!-- content -->
	<div class="content">
		<div class="left">
			<div class="left-container">
				<div class="logo">
					<img src="/image/index/logo.png" alt="" id="logo">
				</div>
				<div class="form">
					<form class="validate-form" action="/processLogin" method="post">
	
						<!-- username -->
						<div class="validate-input" data-validate="Username is required" lang="en">
							<span lang="en">Username</span>
							<input class="inputcontent" type="text" name="username" placeholder="Type your username" lang="en">
						</div>
						<div class="validate-input" data-validate="Tên đăng nhập bắt buộc điền"
							lang="vi">
							<span lang="vi">Tên đăng nhập</span>
							<input class="inputcontent" type="text" name="username" placeholder="Nhập tên đăng nhập" lang="vi">
						</div>
	
						<!-- password -->
						<div class="validate-input" data-validate="Password is required" lang="en">
							<span lang="en">Password</span>
							<input class="inputcontent password" type="password" name="pass" placeholder="Type your password"
								lang="en">
						</div>
						<div class="validate-input" data-validate="Mật khẩu bắt buộc điền" lang="vi">
							<span lang="vi">Mật khẩu</span>
							<input class="inputcontent password" type="password" name="pass" placeholder="Nhập mật khẩu"
								lang="vi">
						</div>

						<!-- showhidepassword -->
						<div class="showhidepassword-container" lang="en">
							<input type="checkbox" class="checkbox-showpassword" onclick="showpassword(0)">
							<span class="showhidepassword" lang="en">Show password</span>
						</div>
						<div class="showhidepassword-container" lang="vi">
							<input type="checkbox" class="checkbox-showpassword" onclick="showpassword(1)">
							<span class="showhidepassword" lang="vi">Hiện mật khẩu</span>
						</div>
						
						<!-- submit -->
						<div>
							<button type="submit" lang="en">
								Login
							</button>
							<button type="submit" lang="vi">
								Đăng nhập
							</button>
						</div>
					
						<!-- forgot password -->
						<div class="forgotpassword">
							<span lang="en">Forgot password?</span>
							<span lang="vi">Quên mật khẩu?</span>
							<a href="/forgotpassword">
								<i lang="en">Get helps</i>
								<i lang="vi">Hỗ trợ</i>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="up">
				<div class="img-wrap">
					<img src="/image/index/login-banner.png" alt="">
				</div>
				<div class="img-wrap">
					<img src="/image/profile_pic-1708605999456.jpg" alt="">
				</div>
				<div class="img-wrap">
					<img src="/image/profile_pic-1708605894687.jpg" alt="">
				</div>
			</div>
			<div class="down">
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="text-wrap">
					<div class="text">
						<h2>Tiện lợi - Tiết kiệm - Số hóa 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumm</p>
					</div>
				</div>
				<div class="img-nav">
					<a href="javascript:currentSlide(0)" class="img-nav-button"></a>
					<a href="javascript:currentSlide(1)" class="img-nav-button"></a>
					<a href="javascript:currentSlide(2)" class="img-nav-button"></a>
				</div>
			</div>
			<script>
				let imgslide = document.getElementsByClassName("img-wrap");
				let textslide = document.getElementsByClassName("text-wrap");
				let imgnav = document.getElementsByClassName("img-nav-button");
				let index=1;
				for (let i=0;i<textslide.length;i++){
						textslide[i].style.display="none";
						imgslide[i].style.display="none";
					}
				imgslide[0].style.display="block";
				textslide[0].style.display="block";
				imgnav[0].style.width = "10px";
				imgnav[0].style.height = "10px";
			
				function slide(){
					for (let i=0;i<textslide.length;i++){
						imgslide[i].style.display="none";
						textslide[i].style.display="none";
						imgnav[i].style.width = "6px";
						imgnav[i].style.height = "6px";
					}
					imgslide[index].style.display="block";
					textslide[index].style.display="block";
					imgnav[index].style.width = "10px";
					imgnav[index].style.height = "10px";
				   
					if (index==textslide.length-1){
						index=0;
					}
					else index++;
				}
				function currentSlide(currentindex){
					for (let i=0;i<textslide.length;i++){
						imgslide[i].style.display="none";
						textslide[i].style.display="none";
						imgnav[i].style.width = "6px";
						imgnav[i].style.height = "6px";
					}
					index=currentindex;
					imgslide[index].style.display="block";
					textslide[index].style.display="block";
					imgnav[index].style.width = "10px";
					imgnav[index].style.height = "10px";
				   
				}
				setInterval(slide,5000); 
			</script>
		
		</div>
	</div>
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/signin.js"></script>
	<script src="/js/language.js"></script>
	<script src="/js/showhidepassword.js"></script>
</body>

</html>