<!DOCTYPE html>
<html lang="en">

<head>
	<title>SMARTCARD</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/image/smartcard.ico" />
	<link rel="stylesheet" type="text/css" href="/css\bootstrap-5.0.2-dist\css/bootstrap.min.css">
	<script src="/css\bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/userinfo.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/usershow.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/userinfo.js"></script>
	<script src="/js/avatar.js"></script>
	<script src="/js/language.js"></script>
</head>

<body>
	<div class="content-show content-userinfo">
		<div class="cover">
			<img src="/image/userinfo/cover-1.png" alt="" />
			<div class="avatar">
				<img src="/image/userinfo/avatar-1.png" alt="" />
			</div>
			<div id="linkcontainer">
				<a href="https://www.youtube.com/@thaygiaoba6325" class="a1" target="_blank"><img src="/image/index/youtube.png" alt=""></a>
				<a href="https://www.instagram.com/thinhthinh1101/" class="a2" target="_blank"><img src="/image/index/instagram.png" alt=""></a>
				<a href="https://join.skype.com/invite/VoNKJ75K6WKC" class="a3" target="_blank"><img src="/image/index/skype.png" alt=""></a>
				<a href="https://www.facebook.com/profile.php?id=10000922319437" class="a4" target="_blank"><img src="/image/index/facebook.png" alt=""></a>
				<a href="https://twitter.com/PhuThinhNg32979" class="a5" target="_blank"><img src="/image/index/twitter.png" alt=""></a>
				<a href="https://nhantien.momo.vn/0912317332" class="a6" target="_blank"><img src="/image/index/momo.png" alt=""></a>
				<a href="https://www.pinterest.com/phuthinhnguyen/" class="a7" target="_blank"><img src="/image/index/pinterest.png" alt=""></a>
				<a href="mailto:phuthinhnguyen1101@gmail.com" class="a8"><img src="/image/index/gmail.png" alt=""></a>
				<a href="https://www.yelp.com/biz/rove-boba-tea-placerville" class="a9" target="_blank"><img src="/image/index/yelp.png" alt=""></a>
				<a href="https://www.linkedin.com/in/nguyen-phu-thinh-a0a41a11b/" class="a10" target="_blank"><img src="/image/index/linkind.png" alt=""></a>
				<a href="https://www.tiktok.com/@orinnn_207" class="a11" target="_blank"><img src="/image/index/tiktok.png" alt=""></a>
				<a href="http://zalo.me/0937439340" class="a12" target="_blank"><img src="/image/index/zalo.png" alt=""></a>
			</div>
		</div>
		<script>
			let linkcontainer = document.getElementById("linkcontainer")
			function clicksetting(){
				$("html").animate({ scrollTop: 0 });
				linkcontainer.style.display = "block"
			}
			$(document).mouseup(function(e) 
				{
					var container = $("#linkcontainer");

					// if the target of the click isn't the container nor a descendant of the container
					if (!container.is(e.target) && container.has(e.target).length === 0) 
					{
						container.fadeOut(300);
					}
				});
		</script>
		<div class="info">
			<div class="name">
				<p id="name">
					<%= datauser.name2 %>
				</p>
			</div>
			<p class="bio">
				<%= datauser.bio %>
			</p>
			<div class="action">
				<button onclick="call()">
					<i class="fa fa-phone fa-2x"></i>
				</button>
				<button onclick="email()"><i class="fa fa-envelope fa-2x"></i></button>
			</div>
			<script>
				function call() {
					const phoneNumber = "<%= datauser.phone %>";
					window.location.href = `tel:${phoneNumber}`;
				}
	
				function email() {
					const email = "<%= datauser.email %>";
					window.location.href = `mailto:${email}`;
				}
			</script>
			<div class="paragraph">
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi 
				</p>
			</div>
		
		</div>
		<footer style="margin-bottom: 0;">
			<img src="/image/index/logo.png" alt="" />
			<p>Copyright © 2024 · All Rights Reserved ·</p>
		</footer>
		<div class="control">
			<div><i class="fa-solid fa-address-card"></i></div>
			<div><i class="fas fa-user" id="contact-icon"></i></div>
			<div onclick="clicksetting()"><i class="fa-solid fa-screwdriver-wrench"></i></div>
			<div onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i></div>
		</div>
	
	</div>
	
	

</body>
<!-- toast -->
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center toast-container-res"
	style="position: fixed;top: 50%;right: 50%;transform: translate(50%,-50%);visibility: hidden;">
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false"
		data-bs-delay="1000">
		<div class="toast-header d-flex justify-content-between" style="background-color: dodgerblue;">
			<div>
				<img src="/image/smartcard.ico" class="rounded mr-2" alt="..."
					style="width:20px;height: 20px;margin-right: 5px;">
				<strong class="mr-auto" style="color: black;">SMARTCARD</strong>
			</div>
			<button type="button" class="btn-close ml-2 mb-1" data-bs-dismiss="toast" onclick="closetoast()"></button>
		</div>
		<div lang="en" class="toast-body" style="font-size: 16px;">This link already exists</div>
		<div lang="vi" class="toast-body" style="font-size: 16px;">Link này đã được tạo</div>
	</div>
</div>
<script>
	function closetoast() {
		document.getElementById("contentwrap").style.opacity = "1";
	}
</script>

</html>