@keyframes messagesshow {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 50px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Afacad";
  padding: 0 10%;
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 5px;
}
body ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
body ::-webkit-scrollbar-thumb:hover,
html ::-webkit-scrollbar-thumb:hover {
  background: black;
}

input {
  outline: none;
  border: none;
}
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}

.content-show {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-show .cover {
  position: relative;
}
.content-show .cover img {
  width: 100%;
  height: auto;
  max-height: 600px;
}
.content-show .cover .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.content-show .cover .avatar img {
  width: 100%;
  height: 100%;
}
.content-show .cover #linkcontainer {
  display: none;
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: -155px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  animation: linkcontaineranimation 0.8s;
}
@keyframes linkcontaineranimation {
  from {
    rotate: 8deg;
    opacity: 0;
  }
  to {
    rotate: 0;
    opacity: 1;
  }
}
.content-show .cover #linkcontainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: white;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.content-show .cover #linkcontainer a img {
  width: 100%;
  height: auto;
}
.content-show .cover #linkcontainer a:hover {
  background-color: rgb(175, 175, 175);
}
.content-show .cover #linkcontainer .a1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.content-show .cover #linkcontainer .a2 {
  position: absolute;
  top: 9%;
  left: 64%;
}
.content-show .cover #linkcontainer .a3 {
  position: absolute;
  top: 24%;
  left: 79%;
}
.content-show .cover #linkcontainer .a4 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.content-show .cover #linkcontainer .a5 {
  position: absolute;
  bottom: 24%;
  left: 79%;
}
.content-show .cover #linkcontainer .a6 {
  position: absolute;
  bottom: 9%;
  left: 64%;
}
.content-show .cover #linkcontainer .a7 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.content-show .cover #linkcontainer .a8 {
  position: absolute;
  right: 64%;
  bottom: 9%;
}
.content-show .cover #linkcontainer .a9 {
  position: absolute;
  right: 79%;
  bottom: 24%;
}
.content-show .cover #linkcontainer .a10 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.content-show .cover #linkcontainer .a11 {
  position: absolute;
  top: 24%;
  right: 79%;
}
.content-show .cover #linkcontainer .a12 {
  position: absolute;
  top: 9%;
  right: 64%;
}
.content-show .info {
  margin-top: 70px;
}
.content-show .info .name {
  margin-top: 30px;
}
.content-show .info .name p {
  font-family: "Afacad";
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.content-show .info .bio {
  font-size: 18px;
  text-align: center;
  color: gray;
  text-transform: capitalize;
}
.content-show .info .action {
  margin: auto;
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  color: inherit;
}
.content-show .info .action button {
  width: 50%;
  max-width: 200px;
  height: 40px;
  border-radius: 10px;
  font-family: "Afacad";
  background-color: black;
  border: 1px solid white;
  font-size: 14px;
  transition: 0.5s;
  color: white;
}
.content-show .info .action button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}
.content-show .info .paragraph {
  margin-top: 40px;
  padding: 0 80px;
}
.content-show .info .paragraph p {
  color: gray;
  text-align: justify;
  font-family: "Afacad";
  font-size: 20px;
}
.content-show .info .paragraph p:last-of-type {
  margin-top: 10px;
}
.content-show .info .link {
  max-width: 800px;
  width: 100%;
  padding: 25px;
  margin-bottom: 40px;
  padding-top: 0;
}
.content-show .info .link .wrap {
  width: 100%;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
  height: 55px;
  line-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  transition: 0.6s;
  margin-top: 30px;
}
.content-show .info .link .wrap:hover {
  background-color: white;
}
.content-show .info .link .wrap:hover p {
  color: black;
}
.content-show .info .link .wrap img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 5px;
}
.content-show .info .link .wrap p {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: 0.6s;
  margin-left: -40px;
}
.content-show footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 5px;
}
.content-show footer img {
  width: 150px;
  height: 30px;
}
.content-show footer p {
  color: black;
  font-size: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 1400px) {
  body,
  html {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .content-show {
    border: 8px solid black;
    border-top: none;
    border-bottom: none;
  }
  .content-show .cover img {
    max-height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .content-show .cover img {
    max-height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .content-show .cover .avatar {
    width: 150px;
    height: 150px;
  }
  .content-show .cover #linkcontainer {
    width: 280px;
    height: 280px;
    bottom: -140px;
  }
  .content-show .cover #linkcontainer a {
    width: 40px;
    height: 40px;
  }
  .content-show .info .action button {
    height: 35px;
  }
  .content-show .info .paragraph {
    padding: 0 30px;
  }
  footer {
    background-color: white;
  }
  footer img {
    width: 150px;
    height: 30px;
  }
  footer p {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .content-show {
    width: 100%;
  }
}