@import "_font";
@import "_variable";
@import "_mixin";


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  @include font($fontAfacad);
}


// CSS messages
.messages-show {
  @include messages-show;
}

.messages-hide {
  @include messages-hide;
}


.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  bottom: calc((100% - 40px) / 2);
  left: 10px;
  pointer-events: none;
  @include font($fontAfacad);
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}


// content
.content {
  display: flex;
  width: 100%;
  height: 100%;

  .left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-container {
      padding: 40px;

      .logo {
        img {
          width: 100%;
          height: auto;
          max-width: 400px;
        }
      }

      .form {
        width: 100%;
        margin-top: 50px;
        .validate-input {
          span {
            color: $text-color;
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: 500;
          }

          .inputcontent {
            margin-bottom: 18px;
            height: 40px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $text-color;
            padding-left: 10px;
            font-size: 18px;
            outline: none;

            &:focus {
              border-width: 2px;

              &::placeholder {
                opacity: 0;
              }
            }
          }
        }
        .showhidepassword-container {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .checkbox-showpassword {
            -moz-appearance: none;
            -webkit-appearance: none;
            -o-appearance: none;
            outline: none;
            content: none;
          }

          .checkbox-showpassword::before {
            font-family: "FontAwesome";
            content: "\f00c";
            color: transparent !important;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13px;
            height: 13px;
            border: 1px solid $text-color;
            border-radius: 1px;
            margin-right: 5px;
            // margin-top: -10px;
            cursor: pointer;
          }

          .checkbox-showpassword:checked::before {
            color: $text-color !important;
          }

          .showhidepassword {
            color: gray;
            font-size: 18px;
            font-weight: 400;
          }
        }

        button {
          width: 100%;
          height: 40px;
          background-color: $text-color;
          color: $button-background-hover;
          border-radius: 20px;
          text-transform: uppercase;
          border: none;
          font-size: 20px;
          font-weight: 400;
          margin-top: 15px;

          &:hover {
            background-color: $button-background-hover;
            border: 2px solid $text-color;
            color: $text-color;
            font-weight: 500;
            transition: 0.3s;
          }
        }

        .forgotpassword {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;

          span {
            font-size: 16px;
            color: gray;
            font-style: italic;
          }

          a {
            text-decoration: none;

            i {
              color: $text-color;
              font-size: 16px;
              font-weight: 500;
              font-style: normal;
              margin-left: 5px;
              &:hover{
                font-style: italic;
              }
            }
          }
        }
      }
    }

  }

  .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .up {
      height: calc(100% - 160px);

      .img-wrap {

        @keyframes imgwrap {
          0% {
            opacity: 0.3;
          }

          100% {
            opacity: 1;
          }
        }

        width: 100%;
        height: 100%;
        animation: imgwrap 4s;

        img {
          width: 100%;
          height: 100%;
        }
      }

    }

    .down {
      background-color: $text-color;
      color: $button-background-hover;
      height: 160px;
      display: flex;
      padding: 15px 0;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
     
      .text-wrap {
        width: 60%;
        @keyframes textwrap {
          0% {
            margin-left: 100px;
          }

          100% {
            margin-left: 0;
          }
        }
        .text {
          text-align: center;
          animation: textwrap 4s;
          h2 {
            margin-bottom: 15px;
            font-size: 22px;
          }
        }

      }

      .img-nav {
        display: flex;
        column-gap: 13px;
        justify-content: center;
        align-items: center;

        a {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $button-background-hover;
        }
      }
    }
  }
}

@media screen and (max-width:1600px){
  .content{
    .right{
      .down{
        .text-wrap{
          width: 80%;
        }
      }
    }
  }
}
@media screen and (max-width:1200px){
  .content{
    background-image: url(../image/index/signin2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .right{
      display: none;
    }
    .left{
      width: 100%;
      .left-container{
        background-color: $button-background-hover;
        opacity: .9;
        border-radius: 10px;
        .form{
          margin-top: 25px;
        }
      }
    }
  }
}
@media screen and (max-width:600px){
  .content{
    // background: none;
    .left{
      width: 100%;
      padding: 10px;
      .left-container{
        
        
      }
    }
  }
}
@media screen and (max-width:500px){
  .content{
    .left{
      .left-container{
        padding: 20px;
       
      }
    }
  }
}